
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  
  .padding {
    padding: 0;
    margin-left: -15px;
  }
  
  .left {
    padding: 0;
    margin: 0;
    margin-left: 20px;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .bottom {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  .right-side {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .right-side * {
    padding: 5px;
  }
  
  /* .right-side input::-webkit-input-placeholder {
    position: absolute;
    left: 40px;
    top: 12px;
    color: #b4b3b3;
  }
  
  .right-side input:-ms-input-placeholder {
    position: absolute;
    left: 40px;
    top: 12px;
    color: #b4b3b3;
  }
  
  .right-side input::-ms-input-placeholder {
    position: absolute;
    left: 40px;
    top: 12px;
    color: #b4b3b3;
  }
  
  .right-side input::placeholder {
    position: absolute;
    left: 40px;
    top: 12px;
    color: #b4b3b3;
  }
  
  
  
  .right-side input:hover {
    background-color: #bdbdbd;
  }
  
  .right-side input:hover::-webkit-input-placeholder {
    color: black;
  } */

  .right-side input {
    border: none;
    background-color: #ecebeb;
    border-radius: 25px;
    width: 100%;
    padding-left: 35px;
    font-size: 20px;
  }
  
  .right-side .li-nav {
    padding: 5px;
  }
  
  .li-nav {
    padding: 15px;
  }
  
  .list {
    padding: 5px;
  }
  
  .nav > ul {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .navigation:hover {
    border-bottom: 2px solid black;
  }
  
  .zoom {
    color: black;
    top: 12px;
    position: absolute;
    left: 10px;
    border-radius: 50px;
  }
  
  .zoom:hover {
    background-color: #afafaf;
  }
  
  .circle {
    font-size: 130%;
  }
  
  .circle:hover {
    color: red;
    background-color: #d4d4d4;
    border-radius: 50%;
  }

.pre-l-brand-header{
    position: relative;
    background: #f5f5f5;
    height: 36px;
    width: 100%;
    padding-top: 10px;
}